@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<h3>SQL raw</h3>
<p>
    <select @bind=@genere>
        <option value="">Tutte</option>
        <option value="Maschio">Maschio</option>
        <option value="Femmina">Femmina</option>
        <option value="">Altro</option>
    </select>
    <button @onclick="(g) => LoadItems(genere)">Filtra</button>
</p>

@if (ClassiNumeroStudentiPerGenere == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Classe </th>
                <th>Nome</th>
                <th>Numero studenti @messaggio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ClassiNumeroStudentiPerGenere)
            {
                <tr>
                    <td>
                        <img src="/img/classilogo/@(item.SiglaClasse).svg" 
                        alt="Logo della @item.NomeClasse" />
                    </td>
                    <td>
                        @item.SiglaClasse
                    </td>
                    <td>@item.NomeClasse</td>
                    <td>@item.NumeroStudenti</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string genere = "";
    private string messaggio = "";

    private List<ClasseNumeroStudenti> ClassiNumeroStudentiPerGenere;

    protected override async Task OnInitializedAsync()
    {
        LoadItems(genere);
    }

    private void LoadItems(string genere)
    {
        messaggio = genere;
        using var context = DbFactory.CreateDbContext();
        // SQL raw
        ClassiNumeroStudentiPerGenere =
        context
        .ClassiNumeroStudenti
        .FromSql($@"
            select c.Sigla as SiglaClasse, c.NomeEsteso as NomeClasse, COUNT(s.Matricola) as NumeroStudenti
            from Classi c left join Studenti s on c.Sigla = s.SiglaClasse
            where {genere} = '' or s.Genere = {genere}
            group by c.Sigla, c.NomeEsteso").ToList();

        // LINQ
        //ClassiNumeroStudentiPerGenere =
        //context.Studenti.Where(s => s.Genere == genere || genere == "")
        //.Include(s => s.Classe)
        //.GroupBy(c => new { c.SiglaClasse, c.Classe.NomeEsteso })
        //     .Select(k => new ClasseNumeroStudenti()
        //         {
        //             SiglaClasse = k.Key.SiglaClasse,
        //             NomeClasse = k.Key.NomeEsteso,
        //             NumeroStudenti = k.Count(),
        //         }
        //)
        //.ToList();

    }
}
