@page "/classe/{SiglaClasse}"

@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation

<h3>Classe: @Classe.Sigla</h3>

<Map @ref="mapRef" MapOptions="@mapOptions"></Map>

<hr />
Studenti:
<ul>
    @foreach (var item in Classe.Studenti)
    {
        <li>@item.Nominativo</li>
    }
</ul>


@Classe.Longitudine
@Classe.Latitudine

<style>
    #mapId {
        height: 400px;
    }
</style>


@code {
    [Parameter]
    public string SiglaClasse { get; set; } = string.Empty;

    private Classe Classe = new();

    private Map mapRef;

    private Marker marker1;


    private MapOptions mapOptions = new MapOptions()
        {
            DivId = "mapId",
            Center = new LatLng(50.279133, 18.685578),
            Zoom = 13,
            UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            SubOptions = new MapSubOptions()
            {
                Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
                TileSize = 512,
                ZoomOffset = -1,
                MaxZoom = 19,
            }
        };

    protected override async Task OnParametersSetAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Classe = context.Classi?
        .Include(s => s.Studenti)
        .Where(c => c.Sigla == SiglaClasse)
        .FirstOrDefault();

        mapOptions.Center = new LatLng(Classe.Latitudine.Value, Classe.Longitudine.Value);
    }

}
